## Script for Creating the Dataset

using yFinance to obtain the sector data

In [1]:
import yfinance as yf
import pandas as pd

In [ ]:
#### Files have already been created ####
# # Define sector symbols
# sector_symbols = {
#     "Information Technology": "^SP500-45",
#     "Health Care": "^SP500-35",
#     "Consumer Discretionary": "^SP500-25"
# }


# # Download and save data for each sector
# for sector, symbol in sector_symbols.items():
#     sector_data = yf.download(symbol, start="1993-05-04", end="2025-12-31", auto_adjust=False)
#     filename = f"{sector.replace(' ', '_').lower()}_sector_data.csv"
#     sector_data.to_csv(filename)
#     print(f"Saved {sector} sector data to {filename}")
######################################################

In [15]:
# load the three sector_data csv files into pandas dataframes
it_sector_data = pd.read_csv('information_technology_sector_data.csv', sep=',', header = 0)
hc_sector_data = pd.read_csv('health_care_sector_data.csv', sep=',', header = 0)
cd_sector_data = pd.read_csv('consumer_discretionary_sector_data.csv', sep=',', header = 0)

In [16]:
# for each of the three rename Open, High, Low, Close, Adj Close, and Volume columns to include the sector name
it_sector_data.rename(columns={'Open': 'IT Open', 'High': 'IT High', 'Low': 'IT Low', 'Close': 'IT Close', 'Adj Close': 'IT Adj Close', 'Volume': 'IT Volume'}, inplace=True)
hc_sector_data.rename(columns={'Open': 'HC Open', 'High': 'HC High', 'Low': 'HC Low', 'Close': 'HC Close', 'Adj Close': 'HC Adj Close', 'Volume': 'HC Volume'}, inplace=True)
cd_sector_data.rename(columns={'Open': 'CD Open', 'High': 'CD High', 'Low': 'CD Low', 'Close': 'CD Close', 'Adj Close': 'CD Adj Close', 'Volume': 'CD Volume'}, inplace=True)

In [17]:
# merge the three sector dfs into one dataframe
merged_sector_data = pd.merge(it_sector_data, hc_sector_data, on='Date')
merged_sector_data = pd.merge(merged_sector_data, cd_sector_data, on='Date')

In [18]:
merged_sector_data.head(5)

,Date,IT Adj Close,IT Close,IT High,IT Low,IT Open,IT Volume,HC Adj Close,HC Close,HC High,HC Low,HC Open,HC Volume,CD Adj Close,CD Close,CD High,CD Low,CD Open,CD Volume
0,1993-05-04,76.226318,76.230003,76.230003,76.230003,76.230003,0,90.959999,90.959999,90.959999,90.959999,90.959999,0,99.760002,99.760002,99.760002,99.760002,99.760002,0
1,1993-05-05,76.886284,76.889999,76.889999,76.889999,76.889999,0,91.760002,91.760002,91.760002,91.760002,91.760002,0,99.500000,99.500000,99.500000,99.500000,99.500000,0
2,1993-05-06,76.416306,76.419998,76.419998,76.419998,76.419998,0,90.550003,90.550003,90.550003,90.550003,90.550003,0,99.190002,99.190002,99.190002,99.190002,99.190002,0
3,1993-05-07,77.086273,77.089996,77.089996,77.089996,77.089996,0,90.120003,90.120003,90.120003,90.120003,90.120003,0,99.129997,99.129997,99.129997,99.129997,99.129997,0
4,1993-05-10,77.026276,77.029999,77.029999,77.029999,77.029999,0,90.230003,90.230003,90.230003,90.230003,90.230003,0,99.660004,99.660004,99.660004,99.660004,99.660004,0

Loading daily WTI prices:

The csv file has been downloaded from OK Cushing WTI Spot Prices from the U.S. Energy Information Administration

In [3]:
# loading daily oil prices
oil_prices = pd.read_csv('WTI_oil_daily.csv', sep=';', decimal = ',', header = 0)

In [4]:
# Change Date column to datetime
oil_prices['Date'] = pd.to_datetime(oil_prices['Date'])

In [5]:
oil_prices

           Date  WTI Spot Price
0    1986-01-02           25.56
1    1986-01-03           26.00
2    1986-01-06           26.53
3    1986-01-07           25.85
4    1986-01-08           25.87
...         ...             ...
9895 2025-04-22           64.60
9896 2025-04-23           62.64
9897 2025-04-24           63.55
9898 2025-04-25           63.85
9899 2025-04-28           63.30

[9900 rows x 2 columns]

In [19]:
# change Date column for oil_prices to datetime
oil_prices['Date'] = pd.to_datetime(oil_prices['Date'])
# change Date column for merged_sector_data to datetime
merged_sector_data['Date'] = pd.to_datetime(merged_sector_data['Date'])

Merging the WTI and Sector dataframes

In [20]:
# inner merge on oil_prices and  from the 3 sectors
merged_data = pd.merge(oil_prices, merged_sector_data, on='Date', how='inner')

In [21]:
merged_data.head()

,Date,WTI Spot Price,IT Adj Close,IT Close,IT High,IT Low,IT Open,IT Volume,HC Adj Close,HC Close,HC High,HC Low,HC Open,HC Volume,CD Adj Close,CD Close,CD High,CD Low,CD Open,CD Volume
0,1993-05-04,20.40,76.226318,76.230003,76.230003,76.230003,76.230003,0,90.959999,90.959999,90.959999,90.959999,90.959999,0,99.760002,99.760002,99.760002,99.760002,99.760002,0
1,1993-05-05,20.46,76.886284,76.889999,76.889999,76.889999,76.889999,0,91.760002,91.760002,91.760002,91.760002,91.760002,0,99.500000,99.500000,99.500000,99.500000,99.500000,0
2,1993-05-06,20.49,76.416306,76.419998,76.419998,76.419998,76.419998,0,90.550003,90.550003,90.550003,90.550003,90.550003,0,99.190002,99.190002,99.190002,99.190002,99.190002,0
3,1993-05-07,20.43,77.086273,77.089996,77.089996,77.089996,77.089996,0,90.120003,90.120003,90.120003,90.120003,90.120003,0,99.129997,99.129997,99.129997,99.129997,99.129997,0
4,1993-05-10,20.42,77.026276,77.029999,77.029999,77.029999,77.029999,0,90.230003,90.230003,90.230003,90.230003,90.230003,0,99.660004,99.660004,99.660004,99.660004,99.660004,0

Importing daily VIX data from the csv, which was downloaded directly from CBOE

In [22]:
# import VIX_History.csv
vix_data = pd.read_csv('VIX_History.csv', sep=',', header = 0)

In [23]:
# Rename DATE to Date, and OPEN to VIX Open, HIGH to VIX High, LOW to VIX Low, CLOSE to VIX Close
vix_data.rename(columns={'DATE': 'Date', 'OPEN': 'VIX Open', 'HIGH': 'VIX High', 'LOW': 'VIX Low', 'CLOSE': 'VIX Close'}, inplace=True)

# change Date column for vix_data to datetime
vix_data['Date'] = pd.to_datetime(vix_data['Date'])

In [24]:
vix_data

           Date  VIX Open  VIX High  VIX Low  VIX Close
0    1990-01-02     17.24     17.24    17.24      17.24
1    1990-01-03     18.19     18.19    18.19      18.19
2    1990-01-04     19.22     19.22    19.22      19.22
3    1990-01-05     20.11     20.11    20.11      20.11
4    1990-01-08     20.26     20.26    20.26      20.26
...         ...       ...       ...      ...        ...
8914 2025-04-28     25.75     26.93    24.70      25.15
8915 2025-04-29     24.76     25.99    23.76      24.17
8916 2025-04-30     24.35     28.17    24.23      24.70
8917 2025-05-01     23.94     25.18    23.30      24.60
8918 2025-05-02     23.63     24.32    22.34      22.68

[8919 rows x 5 columns]

In [25]:
# merge vix_data with merged_data
final_data = pd.merge(merged_data, vix_data, on='Date', how='inner')

In [27]:
# save as CompleteData.csv
final_data.to_csv('CompleteData.csv', index=False)

### Some Feature Engineering

In [28]:
import pandas as pd
import numpy as np

# Load dataset
file_path = "CompleteData.csv"  # Adjust the path if needed
df = pd.read_csv(file_path, parse_dates=['Date'])

# Sort by date just in case
df = df.sort_values(by="Date")

# Selecting relevant columns
selected_columns = [
    "Date", "WTI Spot Price", "VIX Close", 
    "IT Adj Close", "HC Adj Close", "CD Adj Close",
    "IT Volume", "HC Volume", "CD Volume"
]

df = df[selected_columns]

# Calculate Log Returns for each sector
for col in ["IT Adj Close", "HC Adj Close", "CD Adj Close"]:
    df[f"{col[:2]}_Log_Return"] = np.log(df[col] / df[col].shift(1))

# Calculate Log Percentage Change for WTI Spot Price
df["WTI Log Daily Change"] = np.log(df["WTI Spot Price"] / df["WTI Spot Price"].shift(1))

# Drop rows with NaN values due to shifting operations
df.dropna(inplace=True)

C:\Users\nicol\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [29]:
df.head()

,Date,WTI Spot Price,VIX Close,IT Adj Close,HC Adj Close,CD Adj Close,IT Volume,HC Volume,CD Volume,IT_Log_Return,HC_Log_Return,CD_Log_Return,WTI Log Daily Change
1,1993-05-05,20.46,12.38,76.886284,91.760002,99.500000,0,0,0,0.008621,0.008757,-0.002610,0.002937
2,1993-05-06,20.49,13.22,76.416306,90.550003,99.190002,0,0,0,-0.006131,-0.013274,-0.003120,0.001465
3,1993-05-07,20.43,13.01,77.086273,90.120003,99.129997,0,0,0,0.008729,-0.004760,-0.000605,-0.002933
4,1993-05-10,20.42,13.72,77.026276,90.230003,99.660004,0,0,0,-0.000779,0.001220,0.005332,-0.000490
5,1993-05-11,20.38,13.35,76.536301,90.489998,99.930000,0,0,0,-0.006381,0.002877,0.002706,-0.001961

In [30]:
# Save the processed dataset
df.to_csv("ProcessedData.csv", index=False)

In [32]:
# Display the first few rows of the transformed dataset
df

,Date,WTI Spot Price,VIX Close,IT Adj Close,HC Adj Close,CD Adj Close,IT Volume,HC Volume,CD Volume,IT_Log_Return,HC_Log_Return,CD_Log_Return,WTI Log Daily Change
1,1993-05-05,20.46,12.38,76.886284,91.760002,99.500000,0,0,0,0.008621,0.008757,-0.002610,0.002937
2,1993-05-06,20.49,13.22,76.416306,90.550003,99.190002,0,0,0,-0.006131,-0.013274,-0.003120,0.001465
3,1993-05-07,20.43,13.01,77.086273,90.120003,99.129997,0,0,0,0.008729,-0.004760,-0.000605,-0.002933
4,1993-05-10,20.42,13.72,77.026276,90.230003,99.660004,0,0,0,-0.000779,0.001220,0.005332,-0.000490
5,1993-05-11,20.38,13.35,76.536301,90.489998,99.930000,0,0,0,-0.006381,0.002877,0.002706,-0.001961
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8008,2025-04-22,64.60,30.57,3749.310059,1572.650024,1474.579956,806867100,223050800,472384400,0.024226,0.017848,0.031825,0.017490
8009,2025-04-23,62.64,28.45,3858.699951,1581.069946,1515.339966,978415600,280000500,591385400,0.028758,0.005340,0.027267,-0.030810
8010,2025-04-24,63.55,26.47,3995.270020,1600.619995,1549.540039,938353200,254195200,431896300,0.034781,0.012289,0.022318,0.014423
8011,2025-04-25,63.85,24.84,4060.159912,1608.719971,1579.839966,869615200,245832700,471317200,0.016111,0.005048,0.019365,0.004710
8012,2025-04-28,63.30,25.15,4048.159912,1614.729980,1578.349976,779097000,238947200,446234900,-0.002960,0.003729,-0.000944,-0.008651

In [25]:
import pandas as pd
import numpy as np

# Load dataset
file_path = "CompleteData.csv"  # Adjust the path if needed
df = pd.read_csv(file_path, parse_dates=['Date'])

# Sort by date just in case
df = df.sort_values(by="Date")

# Selecting relevant columns
selected_columns = [
    "Date", "WTI Spot Price", "VIX Close", 
    "IT Adj Close", "HC Adj Close", "CD Adj Close",
    "IT Volume", "HC Volume", "CD Volume"
]

df = df[selected_columns]

# Calculate the returns for each sector
for col in ["IT Adj Close", "HC Adj Close", "CD Adj Close"]:
    df[f"{col[:2]}_Return"] = df[col].pct_change()

# Calculate Percentage Change for WTI Spot Price
df["WTI Daily Change"] = df["WTI Spot Price"].pct_change()

# Drop rows with NaN values due to shifting operations
df.dropna(inplace=True)

In [28]:
# save as ForecastData.csv
df.to_csv('ForecastData.csv', index=False)

In [29]:
df

,Date,WTI Spot Price,VIX Close,IT Adj Close,HC Adj Close,CD Adj Close,IT Volume,HC Volume,CD Volume,IT_Return,HC_Return,CD_Return,WTI Daily Change
1,1993-05-05,20.46,12.38,76.886284,91.760002,99.500000,0,0,0,0.008658,0.008795,-0.002606,0.002941
2,1993-05-06,20.49,13.22,76.416306,90.550003,99.190002,0,0,0,-0.006113,-0.013187,-0.003116,0.001466
3,1993-05-07,20.43,13.01,77.086273,90.120003,99.129997,0,0,0,0.008767,-0.004749,-0.000605,-0.002928
4,1993-05-10,20.42,13.72,77.026276,90.230003,99.660004,0,0,0,-0.000778,0.001221,0.005347,-0.000489
5,1993-05-11,20.38,13.35,76.536301,90.489998,99.930000,0,0,0,-0.006361,0.002881,0.002709,-0.001959
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7955,2025-02-04,73.04,17.21,4458.180176,1712.959961,1912.849976,922290300,303546200,310625200,0.014720,-0.002684,0.014344,-0.006529
7956,2025-02-05,71.39,15.77,4528.220215,1730.439941,1882.430054,934420400,240885300,384795100,0.015710,0.010205,-0.015903,-0.022590
7957,2025-02-06,70.97,15.50,4557.890137,1714.209961,1890.869995,852093600,259759100,543027900,0.006552,-0.009379,0.004484,-0.005883
7958,2025-02-07,71.32,16.54,4511.470215,1705.449951,1843.180054,871744200,201933800,523460900,-0.010185,-0.005110,-0.025221,0.004932
7959,2025-02-10,72.73,15.81,4577.029785,1704.489990,1852.310059,871844600,232115400,356097500,0.014532,-0.000563,0.004953,0.019770